.spinner-border{
  position: absolute;
    height: 30vh;
    width: 30vh;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.collection-image {
  max-width:30vh;
  max-height:30vh;
}

.empty-table{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-begin{
  margin-top: 10vh;
}

.col-to-center{
  float: none;
  margin: 0 auto;
}

.close{
  right:0px;
}

#root {
  height: 100vh;
}